---
//import { Image } from "astro:assets";
//import {img} from ".src/assets/omages/test2.jpg"
import { Icon } from 'astro-icon/components';
const {variant, text1, text2, price, pic, status, view} = Astro.props;

---

<div class={variant}>
    <div class="card_flex">
        <img src="src/assets/images/test.jpg" alt="billede">
        <div class="text">
            <p class="name">{text1}</p>
            <p class="description">{text2}</p>
        </div>
        <div>
            <p class="status">{status}</p>
            <p class="pris">{price}</p>
            <a class="link" href="">{view}</a>
        </div>
    </div>
</div>