---
const {variant, text1, text2, price, pic, status, view} = Astro.props;
---

<div class={variant}>
    <div class="card_flex">
        <img src={pic} alt="bllede">
        <div class="text">
            <h2>{text1}</h3>
            <p>{text2}</p>
        </div>
        <div>
            <h3>{status}</h3>
            <head>{price}</head>
            <h3>{view}</h3>
        </div>
    </div>
</div>

<style>
@import "https://unpkg.com/open-props"; 

.primary{
    background-color: var(--stone-1);

}

</style>